<div id="how-to">
  <section>
    <figure>
      <img src="<%= asset_path( 'art.svg' ) %>" class="icons">
    </figure>
    <article class="explain">
      <h3 class="steps">Choose your favorite exclusive design...</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, eveniet laboriosam dicta recusandae quas harum. Facere
        inventore, nam molestiae, nobis ad cupiditate illum voluptatem voluptas a architecto, nemo cumque consectetur.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam blanditiis ratione harum quia laudantium nisi, ullam vel
        officiis. Repellendus provident voluptatem aperiam voluptate. Dolorum qui ullam quia reiciendis quidem ea!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rerum tempora repudiandae voluptas cupiditate incidunt libero
        nulla, rem assumenda nostrum fuga dignissimos a consequuntur voluptates, recusandae ab earum explicabo molestias.</p>
    </article>
  </section>

  <section>
    <figure>
      <img src="<%= asset_path( 'cup.svg' ) %>" class="icons" id="smaller-icon">
    </figure>
    <article class="explain">
      <h3 class="steps">Apply it to one of our awesome items...</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, eveniet laboriosam dicta recusandae quas harum. Facere
        inventore, nam molestiae, nobis ad cupiditate illum voluptatem voluptas a architecto, nemo cumque consectetur.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam blanditiis ratione harum quia laudantium nisi, ullam vel
        officiis. Repellendus provident voluptatem aperiam voluptate. Dolorum qui ullam quia reiciendis quidem ea!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rerum tempora repudiandae voluptas cupiditate incidunt libero
        nulla, rem assumenda nostrum fuga dignissimos a consequuntur voluptates, recusandae ab earum explicabo molestias.</p>
    </article>
  </section>

  <section>
    <figure>
      <img src="<%= asset_path( 'final.svg' ) %>" class="icons">
    </figure>
    <article class="explain">
      <h3 class="steps">And enjoy your final product!</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, eveniet laboriosam dicta recusandae quas harum. Facere
        inventore, nam molestiae, nobis ad cupiditate illum voluptatem voluptas a architecto, nemo cumque consectetur.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam blanditiis ratione harum quia laudantium nisi, ullam vel
        officiis. Repellendus provident voluptatem aperiam voluptate. Dolorum qui ullam quia reiciendis quidem ea!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rerum tempora repudiandae voluptas cupiditate incidunt libero
        nulla, rem assumenda nostrum fuga dignissimos a consequuntur voluptates, recusandae ab earum explicabo molestias.</p>
    </article>
  </section>
</div>