<div class="how-to">

  <div class="overlay"></div>
  <img src="https://images.unsplash.com/photo-1503900038894-cb3a9cb28484?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=455e1967a523ae6db4f67177b7e218bc&auto=format&fit=crop&w=2826&q=80" />

  <article class="pa3 pa5-ns text-how">
    <h1 class="f3 f1-m f-headline-l">First</h1>
    <h2 class="measure lh-copy">
      Choose a design...
    </h2>
    <div class="space-breathe"></div>
    <h1 class="f3 f1-m f-headline-l">Second</h1>
    <h2 class="measure lh-copy">
      Choose an item...
    </h2>
    <div class="space-breathe"></div>
    <h1 class="f3 f1-m f-headline-l">Last</h1>
    <h2 class="measure lh-copy">
      Have fun shaping!
    </h2>
  </article>

</div>
