<div class="gallery-total">
  <div class="gallery">
    <div class="carousel">
      <% if @art.images.attached? %>
        <% @art.images.each do |image| %>

          <input type="radio" id="<% image.id%>" name="gallery-control" checked>
          <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control"/>
          <div class="wrap">
              <figure>
                  <label for="fullscreen">
                      <%= image_tag resolve_image_url(image.variant(resize: "700x700")) %>
                  </label>
              </figure>
        </div>
        <% end %>
      <% end %>
      </div>
</div>


