div#how-to {
  height: 100%;
  margin: 0;
  background-color: #d4d4e4;
}

section {
  display: grid;
  grid-template-columns: 20% auto; 
}

figure {
  background: #cbcbdd;
  margin: 0;
  text-align: center;
}

article.explain {
  padding: 4em;
  margin-bottom: 60px;
}

.icons {
  height: 180px;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  margin-top: 20px;
}

#smaller-icon {
  height: 130px;
}

h3.steps {
  font-size: 3em;
  margin-top: 0;
}

p {
  line-height: 2em;
}



