<h1>Please make the payment</h1>

  <%= form_tag order_charges_path(@order), id: 'server-form' do %>
    <%= hidden_field_tag :stripe_token %>
  <% end %>

  <h2>Amount: <%= number_to_currency(@amount) %></h2>
  <%= react_component("Stripe") %>